.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 48px;
  background-color: #ffffff;
  border-bottom: 1px solid #e2e8f0;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

.navbar-logo a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.logo-image {
  width: 36px;
  height: auto;
}

.logo-text {
  font-size: 20px;
  font-weight: 800;
  color: #0f172a;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar-links a {
  text-decoration: none;
  color: #0f0f0f;
  font-weight: 500;
  font-size: 14px;
  padding: 8px 14px;
  border-radius: 8px;
}

.navbar-links a:hover {
  color: #0f172a;
  background: #f1f5f9;
}

.navbar-links a.active {
  background-color: rgb(255, 224, 157);
  color: #0f172a;
  font-weight: 600;
}

.list-car-btn {
  background-color: #f5a623 !important;
  color: #0f0f0f !important;
  padding: 9px 18px !important;
  border-radius: 8px;
  font-weight: 600 !important;
}

.list-car-btn:hover {
  background-color: #1e293b !important;
  color: #ffffff !important;
}

.navbar-auth {
  display: flex;
  align-items: center;
  gap: 10px;
}

.login-link {
  text-decoration: none;
  color: #0f0f0f;
  font-size: 14px;
  font-weight: 600;
  padding: 9px 18px;
  border-radius: 8px;
  border: 1.5px solid #e2e8f0;
}

.login-link:hover {
  background: #f8fafc;
  color: #0f172a;
}

.signup-btn {
  background: #f5a623;
  color: #0f0f0f;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  padding: 9px 20px;
  border-radius: 8px;
}

.signup-btn:hover {
  background: #e09510;

}
.navbar-username {
  font-size: 14px;
  color: #0f0f0f;
  font-weight: 500;
}

.signout-btn {
  background: transparent;
  color: #0f0f0f;
  border: 1.5px solid #e2e8f0;
  padding: 9px 18px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.signout-btn:hover {
  background: #fee2e2;
  color: #dc2626;
}

.favorites-link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
}
.bookings-link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
}

